NODE_ENV=local
PORT=3000
DATABASE_URL=postgres://user:password@localhost:5432/vendorproof
JWT_SECRET=your_jwt_secret_here
REDIS_CONNECTION_STRING=redis://localhost:6379
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
INTERSWITCH_BASE_URL=https://api-marketplace-routing.k8.isw.la/marketplace-routing/api/v1/
INTERSWITCH_CLIENT_ID=your_client_id
INTERSWITCH_CLIENT_SECRET=your_client_secret
SMS_GATE_USERNAME=your_sms_gate_username
SMS_GATE_PASSWORD=your_sms_gate_password
